<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Operation Buttons</title>
  </head>
  <body>
    <h1>Choose an Operation:</h1>

    <button onclick="location.href='/index/'">
      Embedding/Extracting Grayscale Level 1
    </button>

    <button onclick="location.href='/index1/'">
      Embedding/Extracting Grayscale Level 2
    </button>

    <button onclick="location.href='/color1/'">
      Embedding/Extracting Color Image
    </button>

    <button onclick="location.href='/embedding_extracting/text_level_1'">
      Extracting Text from Image Level 1
    </button>

    <button onclick="location.href='/embedding_extracting/text_level_2'">
      Extracting Text from Image Level 2
    </button>
  </body>
</html>
